<div class="admin-blogs-container">
  <div class="headline">
    <h1>Blogs</h1>

    <div>
      <a href="/blogs/create">
        <button>Add blog</button>
      </a>
    </div>
  </div>

  <div class="admin-blogs">
    ^blogs^
  </div>
</div>

<script>
  document.querySelectorAll(".delete-form").forEach(form => {
    form.addEventListener("submit", function (e) {
      e.preventDefault();
      fetch(this.action, {method: 'DELETE', body: new FormData(this)}).then(response => {
        if (response.status == 204) {
          window.location.href = '/admin'
        } else {
          console.error('deletion failed')
        }
      }).catch(error => console.error('Error:', error));
    });
  });
</script>
