* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #272727;
  color: #f1f1f1;
  font-family: sans-serif;
}

input,
textarea {
  padding: 2px 4px;
}

button {
  padding: 2px 4px;
}

button:hover {
  cursor: pointer;
}

ul {
  list-style: none;
}

a {
  color: seagreen;
}

.app {
  display: flex;
  align-items: center;
  margin: auto;
  min-height: 100dvh;
  width: 100vh;
}

.blogs-container {
  margin: 8px 0;
  background-color: #333333;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
}

.blogs-container h1 {
  margin-bottom: 1rem;
}

.blog ul li {
  display: flex;
  justify-content: space-between;
  margin: 1cap 0;
}

.blog-container {
  border-radius: 10px;
  padding: 2rem;
  flex: 1;
  max-height: 100%;
  min-height: 50dvh;
  background-color: #333333;
  margin: 3rem 0;
}

.back-button {
  margin-bottom: 10rem;
}

.date {
  color: #999;
  margin: 1rem 0;
}

.content {
  font-size: 1rem;
  font-weight: bold;
}

.admin-blogs-container {
  margin: 8px 0;
  background-color: #333333;
  padding: 40px 25px;
  border-radius: 10px;
  flex: 2;
}

.admin-blogs-container h1 {
  margin-bottom: 2rem;
}

.admin-blogs ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.admin-blogs ul li {
  display: flex;
  row-gap: 10px;
  justify-content: space-between;
}

.admin-blogs h2 {
  color: #999;
}

.edit {
  text-decoration: none;
}

.action-buttons-container {
  display: flex;
}

.action-buttons-container button {
  padding: 3px 8px;
  border: none;
  border-radius: 2px;
}

.action-buttons-container button:hover {
  cursor: pointer;
}

.delete-button {
  background-color: tomato;
}

.edit-button {
  background-color: aqua;
}
